html {
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body .container {
    min-height: calc(100vh - 60px - 70px - 2px - 60px);
    max-width: 1000px;
    margin: 30px auto;
}