<!DOCTYPE html>
<HTML lang="en">

<HEAD>
    <META charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <TITTLE>AirBnB clone</TITTLE>
    <LINK rel="stylesheet" href="../static/styles/4-common.css" type="text/css">
    <LINK rel="stylesheet" href="../static/styles/3-footer.css" type="text/css">
    <LINK rel="stylesheet" href="../static/styles/3-header.css" type="text/css">
    <LINK rel="stylesheet" href="../static/styles/6-filters.css" type="text/css">
    <LINK rel="stylesheet" href="../static/styles/100-places.css" type="text/css">
    <LINK rel="shortcut icon" href="../static/images/icon.png" />
</HEAD>

<BODY>
    <HEADER>
        <DIV class="logo"></DIV>
    </HEADER>
    <DIV class="container">
        <SECTION class="filters">
            <DIV class="locations">
                <H3>States</H3>
                <H4>CaLIfornia, Arizona...</H4>
                <DIV class="popover">
                  {% for state in states.values()|sort(attribute="name") %}
                  <LI><B>{{ state.name }}</B>
                    <UL>
                    {% for city in state.cities|sort(attribute="name") %}
                      <LI>{{ city.name }}</LI>
                    {% endfor %}
                    </UL>
                  </LI>
                {% endfor %}
                </DIV>
            </DIV>
            <DIV class="amenities">
                <H3>Amenities</H3>
                <H4>Internet, Kitchen...</H4>
                <DIV class="popover">
                  <UL>
                    {% for amenity in amenities.values()|sort(attribute="name") %}
                      <LI>{{ amenity.name }}</LI>
                    {% endfor %}
                  </UL>
                </DIV>
            </DIV>
            <BUTTON>
                Search
            </BUTTON>
        </SECTION>
        <SECTION class="places">
            <h1>Places</h1>
            <SECTION class="row">
                {% for place in places.values() | sort(attribute="name") %}
                <ARTICLE>
                    <DIV class="title_box">
                        <H2>{{place.name}}</H2>
                        <DIV class="price_by_night">
                            ${{place.price_by_night}}
                        </DIV>
                    </DIV>
                    <DIV class="information">
                        <DIV class="max_guest">
                            {{place.max_guest}} Guests
                        </DIV>
                        <DIV class="number_rooms">
                            {{place.number_rooms}} Bedroom
                        </DIV>
                        <DIV class="number_bathrooms">
                            {{place.number_bathrooms}} Bathroom
                        </DIV>
                    </DIV>
                    <DIV class="user">
                        <strong>Owner: </strong> {{ place.user_id}}
                    </DIV>
                    <DIV class="description">
                        {{ place.description|safe }}
                    </DIV>
                </ARTICLE>
                {% endfor %}
            </SECTION>
        </SECTION>
    </DIV>
    <FOOTER>
        <P>Holberton School</P>
    </FOOTER>
</BODY>

</HTML>